<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find</title>
</head>
<body>
    <form method="post" th:action="@{/admin/findFragrance}">
        <input type="text" placeholder="Fragrance name" name="name">
        <button type="submit">Search</button>
    </form>
    <div th:if="${fragrances != null}" id="fragrances-div">
            <div th:each="fragrance: ${fragrances}" class="fr">
                <p>Id:<span th:text="${fragrance.id}"></span></p>
                <p>Name:<span th:text="${fragrance.name}"></span></p>
                <p>Type:<span th:text="${fragrance.type}"></span></p>
                <p>Brand:<span th:text="${fragrance.brand}"></span></p>
                <p>Designer:<span th:text="${fragrance.designer}"></span></p>
                <p>Capacity:<span th:text="${fragrance.capacity}"></span></p>
                <p>Price:<span th:text="${fragrance.price}"></span></p>
                <p>Photo:<span th:text="${fragrance.photo}"></span></p>
            </div>
    </div>
</body>
<style>
    #fragrances-div{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .fr{
        margin: 10px;
    }
    p{
        font-size: 25px;
        font-weight: 1000;
        margin: 0;
    }
</style>
</html>